#sol_loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    z-index: 1001;
    border: none;
    height: 120%;
}

#wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%) scale(1);
	pointer-events: none;
	z-index: 1005;
}

.background {
    /* The image used 
  background-image: url(../img/bg_load_01.png);*/
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* **************************************************************************************************************************************** */
/* **************************************************************************************************************************************** */

.textHeader1 {
    font-family: 'minikstt';
    color: white;
    font-style: italic;
    text-decoration: none;
    font-size: 35px;
    text-shadow: 2px 1px black;
    text-align: center;
}

/* **************************************************************************************************************************************** */
/* **************************************************************************************************************************************** */
.progress {
	/*margin: 1.5em;*/
	border: 2px solid white;
	width: 30vw;
	display: none;
	height: auto;
	z-index: 999;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-55%, 150%);
}

.progress-text{
    font-family: 'minikstt';
    color: #c9f4ff;
    text-shadow: 2px 2px #00313f;
    font-size: 2.5vh;
    width: 100% !important;
    text-align: center;
    position: fixed;
}

.progress-bar {
	background-color: #1a1a1a80;
    height: 2%;
    width: 60%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: solid;
}

.progress .full {
	margin: 2px;
	background: white;
	height: 1em;
	transform-origin: top left;
}

.progress-bar span {
	display: inline-block;
	height: 100%;
	/*border-radius: 3px;*/
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	transition: width .4s ease-in-out;    
}

.blue span {
	background-color: #387eff;
	background-image: linear-gradient(top, #387eff, #5d63ab);  
}

.shine span {
	position: relative;
}

.shine span::after {
	content: '';
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	/*border-radius: 3px;*/
	animation: animate-shine 2s ease-out infinite;             
}

@keyframes animate-shine {
	0% {opacity: 0; width: 0;}
	50% {opacity: .5;}
	100% {opacity: 0; width: 95%;}
}
/* **************************************************************************************************************************************** */
/* **************************************************************************************************************************************** */

.logo-main
{
    width: 300px;
    pointer-events: visible;
    z-index: 1010;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    transform-origin: top;
    top: 7vh;
    background-repeat: no-repeat;
    background-size: auto;
}

.tips{
    position: fixed;
    height: 450px;
    width: 280px;
    color: white;
    flex-direction: column;
    overflow-y: scroll;
    z-index: 1011;
    pointer-events: visible;
    right: 0;
    overflow-x: hidden;
    transform-origin: top right;
    top: 21%;
    font-family: verdana;
    padding: 0px 0px 0px 10px;
    background-image: linear-gradient(#6a7ea5, #1b222f);
    display: none;
    font-size: 14px;
}

.tip_title{
    width: 100%;
    height: auto;
    font-family: 'verdana';
}

.tip_subtitle
{
}

.links {
    display: flex;
    flex-direction: column;
    z-index: 1011;
    pointer-events: visible;
    text-decoration: none;
    right: 0.5%;
    position: fixed;
    bottom: 0%;
    font-style: italic;
    transform-origin: bottom right;
    font-family: 'minikstt';
    font-size: 30px;
    text-shadow: 1px 1px black;
    transform: scale(0.7);
}

.links a {
    color: #FFFFFF;
    text-decoration: none;
    margin: auto;
}



/* **************************************************************************************************************************************** */
/* **************************************************************************************************************************************** */

#social{
	z-index: 1001;
	width: 300px;
	height: 50px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	right: 0%;
	display: flex;
	/* justify-content: center; */
	transform-origin: top right;
	pointer-events: visible;
}

.social-button{
	height: 100%;
	width: auto;
	background-color: #00000029;
	margin: 0px 1px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
	max-width: 50px;
}

/* **************************************************************************************************************************************** */
/* **************************************************************************************************************************************** */

.inviteDialogue {
    display: flex;
    position: fixed;
    height: 150px;
    width: 350px;
    top: 10%;
    flex-direction: column;
    font-family: verdana;
    padding: 0px 10px 0px 10px;
    background-image: linear-gradient(#6a7ea5, #1b222f);
    font-size: 15px;
    z-index: 10000;
    left: 50%;
    transform: translate(-50%, 0px);
}

.inviteTitle {
    font-family: verdana;
    text-align: left;
    color: #8be4fd;
    margin: 15px auto;
    font-style: italic;
    margin-bottom: 8px;
    text-decoration: none;
}

.inviteField {
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    font-family: verdana;
    width: 100%;
    padding: 10px;
    background-color: #424242FF;
    outline: none;
    user-select: none;
}

.inviteButton {
    font-family: 'minikstt';
    text-align: left;
    color: #ffc700;
    margin: auto;
    font-style: italic;
    font-size: 40px;
}


.button {
    display: flex;
    padding: 5px;
    color: red;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ffeb00, #ff9900);
    margin-top: 10px;
}

    .button:hover {
        background: linear-gradient(#ec9334,#7c4d1b);
    }

    .button:active {
        background: linear-gradient(#bd6200,#673600);
    }


/* **************************************************************************************************************************************** */
/* **************************************************************************************************************************************** */

#featuredContent{
z-index: 1001;
    width: 350px;
    position: absolute;
    transform-origin: top left;
    pointer-events: visible;
    display: none;
    top: 7.5%;
    left: .5%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-style: solid;
    border-color: rgba(93, 186, 239, 0.48);
	height: 85px;
}

.featuredStreamers{

}

.featured-content-video{
	display: flex;
    overflow: hidden;
    height: 100px;
    margin-left: 5px;
    transform: translateY(-10px);
}


.featuredEntry{
    display: none;
    margin: 1px;
    background: #0a0a0ac4;
    border-radius: 7.5px;
}

.featuredIcon{
	border-radius: 5px;
}

.featuredText{
    font-family: verdana;
    text-align: left;
    margin-left: 10px;
}

/* **************************************************************************************************************************************** */
/* **************************************************************************************************************************************** */

#profile{
z-index: 1001;
    width: 250px;
    height: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0%;
    display: flex;
    font-family: 'minikstt';
    justify-content: end;
    transform-origin: top left;
}

#profile-emblem{
    height: 100%;
    width: auto;
    background-color: #00000029;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	display: flex;
	max-width: 50px;
}

#profile-uname{
	font-family: 'minikstt';
	text-align: center;
	color: #c7c7c7;
	height: 50%;
	font-size: 25px;
	font-size: 30px;
	padding: 1px 0px;
	line-height: 24px;
}

#profile-login-group{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0px 5px;
}

#profile-button{
background-image: url(../img/bttn_01.png);
    font-family: 'minikstt';
    text-align: center;
    color: #c7c7c7;
    padding: 0px 10px;
    font-size: 22px;
    line-height: 23px;
}

/* **************************************************************************************************************************************** */
/* **************************************************************************************************************************************** */
#monetization{
	z-index: 1099;
	width: 100vw;
	height: 100vh;
}

#preroll{
    display: none;
	/*display: flex;*/
	position: absolute;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%,-50%);
	pointer-events: visible;
	visibility: visible;
	z-index: 1010;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100%;
}

#repuls-io_300x250{
	justify-content: center;
	align-items: center;
	position: fixed;

	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.2);
	pointer-events: visible;
	z-index: 1010;
	width: 300px;
	height: 250px;
	bottom: 5%;
	transform-origin: bottom left;
}

#repuls-io_728x90{
    height: 90px;
    width: 728px;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: visible;
    z-index: 1010;
    position: fixed;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0%);
    transform-origin: bottom;
}

.ad_left{
  left: .75%;
  transform-origin: bottom left !important;
}

.ad_right{
  right: 1%;
  transform-origin: bottom right !important;
}

/* **************************************************************************************************************************************** */
/* **************************************************************************************************************************************** */


.ui-main{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.ui-menBar
{
display: block;
height: 5vh;
width: 100%;
position: absolute;
z-index: 9999;
}






.webgl-content
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

.webgl-content * {
	width: 100vw;
	height: 100vh;
}

/* **************************************************************************************************************************************** */
/* **************************************************************************************************************************************** */
.ui-vertical-layout{
	display: flex;
	flex-direction: column;
    justify-content: flex-start;
}

.ui_hLayout{
    width: 100%;
	display: flex;
	flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
}

.ui_icon{
    width: auto;
}

.ui_text_header{
    font-family: verdana;
    text-align: left;
    color: #8be4fd;
    margin: auto;
    font-style: italic;
    margin-bottom: 8px;
    text-decoration: none;
}

.ui_text_links{
    text-align: left;
    width: fit-content;
    margin: auto;
    font-style: italic;
    margin-bottom: 8px;
    text-decoration: none;
}

ul.b {
  list-style-type: square;
}

/* **************************************************************************************************************************************** */
/* **************************************************************************************************************************************** */

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4) !important;
    z-index: 99999 !important;
    pointer-events: all;
}

/* Modal Content */
.modal-content {
    color: white;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 50%;
  font-family: verdana;
  background-image: linear-gradient(#6a7ea5, #1b222f);
  font-size: 14px;
  flex-direction: column;
    overflow-y: scroll;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btnLink {
    padding: 20px;
    color: white;
    cursor: pointer;
    text-decoration: underline;
    font-size: 16px;
}

/* **************************************************************************************************************************************** */
/* **************************************************************************************************************************************** */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* **************************************************************************************************************************************** */
/* **************************************************************************************************************************************** */

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}


/* **************************************************************************************************************************************** */
/* **************************************************************************************************************************************** */

@font-face {
    font-family: 'minikstt';
    src: url('fonts/minikstt-webfont.woff2') format('woff2'),
         url('fonts/minikstt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.opacity-zero{
	opacity: 0 !important;
}
.zindex-th{
	z-index: -100 !important;	
}