.search-input {
    margin-top: 10px;
    border-radius: 30px;
    border: none;
    width: 25%;
    height: 60px;
    background-color: rgba(30, 30, 30, 0.8);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
    color: white;
    text-align: center;
    font-size: 24px;
    outline: none;
    font-family: Arial, sans-serif;
}

.search-input::placeholder {
    opacity: 1;
}